<ng-container>

  <div nzDrawerBody>
    <form
      nz-form
      [formGroup]="formGroup"
      [nzNoColon]="true"
      class="form"
    >
      <nz-form-item
        *ngFor="let column of columns"
        class="form__item"
      >
        <nz-form-label>
          {{column.columnName}}
        </nz-form-label>
        <nz-form-control class="form__item__control">
          <nz-switch [formControlName]="column.columnDef"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>

  </div>
</ng-container>
